/* Basic reset, full height setup, and centering */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; /* Light grey background */
}

/* Main container styling */
.container {
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('Images/rakhiImage.jpg') no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  opacity: 1;
  transition: opacity 1s ease;
  z-index: 1;
}

/* Form styling */
.form-group {
  width: 56vw;
  margin-bottom: 15px;
}

.input-wrapper {
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Checkbox styling */
input[type="checkbox"] {
  transform: scale(1);
  margin-right: 10px;
  vertical-align: middle;
}

/* Label styling */
label {
  font-size: 11px;
  vertical-align: middle;
}

/* Submit button styling */
.submit-button {
  width: max-content;
  padding: 8px 16px;
  margin: 2px auto;
  display: block;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* Placeholder styling */
input::placeholder {
  color: #ccc;
}

input:focus::placeholder {
  color: black;
}

/* Responsive design for larger screens */
@media (min-width: 600px) {
  .container {
    width: 56.25vh;
    height: 100vh;
  }

  .form-group {
    width: 30vh;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 10px;
    vertical-align: middle;
  }

  label {
    font-size: 14px;
    vertical-align: middle;
  }

  .submit-button {
    padding: 10px 16px;
    font-size: 14px;
  }
}
