body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: url('Images/thankyou.png') no-repeat center center;
    background-size: cover;
}

@font-face {
    font-family: 'Trajan';
    src: url('Images/TRAJAN-BOLD.OTF') format('opentype'); /* Define a separate font-face for TRAJAN */
    font-weight: normal;
    font-style: normal;
  }

.home-button {
    display: inline-block;
    margin-top: 60vh;
    padding: 10px 20px;
    font-size: 10px;
    color: #6D3900;
    border: .5px solid #6D3900;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-family: 'Trajan', 'TRAJAN-BOLD', serif; /* Use TRAJAN font with fallback */

    
}

